nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 4% 1.5%;
    // background: linear-gradient(244deg, #E66457 0.03%, #FF6F61 68.69%, #F0C27B 127.39%);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    div{
        font-size: 20px;
        cursor: pointer;
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        li{
            margin-left: 15%;
            font-size: 30px;
            cursor: pointer;
            white-space: nowrap;
            &:hover {
                font-weight: 600;
                text-decoration: underline;
            }
            &.active{
                font-weight: 600;
                text-decoration: underline;
            }
        }
    }
    .burger-icon {
        display: none;
        flex-direction: column;
        cursor: pointer;
        span {
            width: 25px;
            height: 3px;
            background-color: black;
            margin: 4px 0;
            transition: 0.4s;
        }
    }
    /* Modifier les barres du burger lors de l'ouverture */
    .burger-icon.open span:nth-child(1) {
        transform: rotate(45deg) translate(10px, 5px);
    }
    .burger-icon.open span:nth-child(2) {
        opacity: 0;
    }
    .burger-icon.open span:nth-child(3) {
        transform: rotate(-45deg) translate(10px, -6px);
    }
    

    /* Masquer le menu burger par défaut */
    ul {
        display: flex;
    }
    
    
}

@media (max-width: 1025px){
nav{
    ul{
        li{
            font-size: 3vw;
        }
    }
}
}

@media (max-width: 600px) {
    nav{
        align-items: normal;
        .burger-icon {
            display: flex;
            position: absolute;
            top: 20px;
            right: 20px;
            
        }
        .open{
            top:10px;
        }
        
        ul {
            display: none; /* Masquer le menu principal */
            flex-direction: column;
            padding-top: 37px;
            li {
                width: 128px;
                margin : 0;
                font-size: 18px;
                text-align: right;
                padding: 4px 0;
                border-bottom: 2px solid rgba(54, 53, 55, 0.5);
                &:last-child{
                    border-bottom: none;
                    padding-bottom: 0;

                }
            }
        }
    
        /* Afficher le menu lorsqu'il est ouvert */
        ul.menu-open {
            display: flex;
        }
    
        
    }
    
}
