


 .embo-animate, 
  .dessin {
    transition: transform 0.3s ease;
  }
  
  .embo-animate:hover,
.embo-animate:active {
    animation: sway 0.6s ease-in-out 2; /* 2 répétitions */
  }
  
  .dessin {
    transition: transform 0.3s ease;
  }
  
  /* Applique l'animation d'inclinaison à l'image quand le texte est survolé */
  .embo-animate:hover ~ .dessin, 
  .embo-animate:active ~ .dessin {
    animation: sway 0.6s ease-in-out 2; /* Même animation pour l'image */
  }

  .animate-click, .animate-click ~ .dessin {
    animation: sway 0.6s ease-in-out 2;
  }