button {
    background-color: #363537;
    color: white; 
    border: 2px solid rgba(255, 255, 255, 0.50);
    padding: 10px 20px;
    text-align: center;
    // text-decoration: none; /* Pas de soulignement */
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 8px;
    transition: background-color 0.3s;
  
    &:hover,&:active, &.active  {
      background-color: white; 
      color: #363537;
      border-color: #363537;
      cursor: pointer;
    }
}

@media (max-width: 1000px) {
  button{
    padding: 7px 10px;
  }
}

@media (max-width: 756px){
  button{
    font-size: 2.4vw;
    padding: 0.9vw 3.5vw;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }
}

@media (max-width: 405px){
  button{
    font-size: 10px;
  }
}