main{
    flex:1;
    margin: 3% 4%;
    .filters{
        text-align: center;
        .btn-tous{
            width: 100%;
            margin-bottom: 8px;
        }
        .filter-contenant{
            .btn-filter{
                margin: 0 5px 8px;
                min-width: 170px;
            }
        }
        p{
            line-height: 68px;
            &.hide{
                display: none;
            }
        }
    }
    .contenu-page{
        display: flex;
        align-items: flex-start;
        margin-top: 1%;
        margin-bottom: 3%;
        .section-a-propos{
            width: 33.33%;
            .texte-intro{
                text-align: justify;
                font-size: 29px;
            }
            .en-savoir-plus{
                margin-top: 20px;
                cursor: pointer;
                text-decoration: underline;
                &:hover{
                    color:#C94A4A
                }
            }
            .info-supp{
                text-align: justify;
            }
        }
        .image-presentation{
            width: 33.33%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 2%;
            div{
                display: flex;
                justify-content: center;
                height: 80px;
                position: relative;
                .fleche-gauche{
                    position: relative;
                    top: 28vh;
                    right: 8vw;
                }
                .fleche-droite{
                    position: relative;
                    top: 27vh;
                    left: 8vw;
                }
            }
            .dessin{
                height: 50vh;
                max-height: 500px;
            }
        }
        .section-contact{
            width: 33.33%;
            h2{
                text-align: right;
            }
        }
        .project-cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 5%;
            gap: 5vw;
            width: 100%;
        }
    }
}
footer{
    margin-bottom: 1%;
    div{
        display: flex;
        justify-content: center;
        gap: 10px;
        color: #363537;
        font-style: italic;
        a{
            text-decoration: underline;
            &:hover{
                color:#C94A4A;
            }
        }
    }
}

