//animation EMBO
@keyframes sway {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
    75% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

@keyframes invert-animation {
    0% {
        filter: invert(0); /* Pas d'inversion au début */
        opacity: 1;
    }
    20%{
        filter: invert(1); /* Inversion complète au milieu de l'animation */
        opacity: 0.8;
    }
    
    50% {
        filter: invert(1); /* Inversion complète au milieu de l'animation */
        opacity: 0.8;
    }

    80% {
        filter: invert(1); /* Inversion complète au milieu de l'animation */
        opacity: 0.8;
    }
    
    100% {
        filter: invert(0); 
        opacity: 1;
    }
}

  .sway {
    animation: sway 1.2s ease-in-out ; // Utilisez 'forwards' pour garder la dernière position de l'animation
}

//animation FUN
@keyframes circular-animation {
    0% {
      opacity: 1;
      transform: scale(0.1) translate(0, 0);
    }
    80% {
        opacity:1;
    }
    100% {
      opacity: 0;
      transform: scale(1.5) translate(calc(var(--x) * 150px), calc(var(--y) * 150px));
    }
  }

main{
    flex:1;
    margin: 3% 4%;
    .filters{
        text-align: center;
        .skills-toggle{
            cursor: pointer;
        }
        .btn-tous{
            width: 100%;
            margin-bottom: 8px;
        }
        .filter-contenant{
            .btn-filter{
                margin: 0 5px 8px;
                min-width: 170px;
            }
        }
        p{
            line-height: 68px;
            &.hide{
                display: none;
            }
        }
    }
    .contenu-page{
        display: flex;
        align-items: flex-start;
        margin-top: 1%;
        margin-bottom: 3%;
        .section-a-propos{
            width: 33.33%;
            .texte-intro{
                font-size: 2.1vw;
                span{
                    cursor: pointer;
                    font-weight: 500;
                    &:hover{
                        color: white;
                    }
                }
                .embo-animate{
                   transition: transform 0.3s ease;
                   display: inline-block;}

                .embo-animate-click, .embo-animate-click{
                    animation: sway 0.6s ease-in-out 2;
                  }
                .fun-animate{
                    position: relative;
                    display: inline-block;
                    .particle{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: var(--size); /* Taille de la particule */
                        height: var(--size);
                        transform-origin: center;
                        animation: circular-animation var(--duration) ease-out forwards;
                        pointer-events: none; /* Assure que les particules n'interfèrent pas avec les clics */
                    }
                }
            }
            .en-savoir-plus{
                margin-top: 20px;
                cursor: pointer;
                text-decoration: underline;
                &:hover{
                    color: white
                }
            }
            .info-supp{
                text-align: justify;
            }
        }
        .image-presentation{
            position: relative;
            width: 33.33%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 2%;
            div{
                display: flex;
                justify-content: center;
                position: relative;
                .fleche{
                    height: 7vw;
                }
                .fleche-gauche{
                    position: relative;
                    top: 28vh;
                    right: 8vw;
                }
                .fleche-droite{
                    position: relative;
                    top: 27vh;
                    left: 7vw;
                }
            }
            .dessin{
                max-width: 320px;
                width: 20vw;
                position: relative;
                z-index: 1;
                transition: filter 1s ease-in-out;;
                &.invert{
                    animation: invert-animation 1.2s forwards;
                }                
            }
        }
        .section-contact{
            width: 33.33%;
            h2{
                text-align: right;
            }
        }
        .project-cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 5%;
            gap: 5vw;
            width: 100%;
        }
    }
}
footer{
    margin-bottom: 1%;
    div{
        display: flex;
        justify-content: center;
        gap: 10px;
        color: #363537;
        font-style: italic;
        a{
            text-decoration: underline;
            &:hover{
                color:#C94A4A;
            }
        }
    }
}

@media (max-width: 1025px) {
    main{
        .contenu-page{
            margin-top: 4%;
            flex-wrap: wrap;
            .section-a-propos{
                width: 52%;
                margin: 0 4%;
            }
            .image-presentation{
                width: 33%;
                .fleche{
                    display: none;
                }
                .dessin{
                    width: 25vw;
                }
            } 
            .section-contact{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 4%;
                form{
                    width: 66vw;
                    max-width: 585px;
                }
            }   
        }
    } 
}

@media (max-width:1000px){
    main{
        .filters{
            .filter-contenant{
                .btn-filter{
                    min-width: 150px;
                }}}}
}
@media (max-width: 756px){
    main{
        .filters{
            .container-toogle{
                color: #363537;
                &.toogle-open{
                    color: white;
                }
                cursor: pointer;
                .skills-toggle{
                    font-size: 6vw;
                    position: relative;
                    line-height: 1.5;
                    .toggle-text{
                        font-family: 'Just Me Again Down Here', 'Arial', sans-serif;
                        font-weight: bold;
                    }
                    .triangle{
                        position: absolute;
                        top: 1vw;
                    } 
                }  
                .explication-toggle{
                    line-height: 0;
                    &.open{
                        display: none;
                    }
                }
            }
            .filter-contenant{
                margin-bottom: 2vw;
                .btn-ligne{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap : 0.5vw;
                    .btn-filter{
                        min-width: 0;
                        margin: 0;
                    }
                }                
            }
        }
        .contenu-page{
            margin-top: 30px;
            .section-a-propos{
                width: 100%;
                margin: 0 6% 2%;
                .texte-intro{
                    font-size: 3.5vw;
                    text-align: justify;
                }
            }
            .image-presentation{
                width: 100%;
                .dessin{
                    width: 25vw;
                }
            } 
            .section-contact{
                margin: 2% 6% 0;
                align-items: normal;
                form{
                    width: 100%;
                    max-width: 100%;
                }

            }   
        }

    }
    footer{
        div{
            flex-direction: column;
            align-items: center;
            gap: 0px;
            .barre-separation-footer{
                display: none;
            }
        }
    }
}
@media (max-width: 600px){
    main{
        .filters{
            .container-toogle{
                .skills-toggle{
                    line-height: 11vw;
                    .triangle{
                        font-size: 11vw;
                        top : 1.5vw
                      } 
                }
            } 
        }
    }
}
@media (max-width: 550px){
    main{
        .contenu-page{
            .section-a-propos{
                .texte-intro{
                    font-size: 6vw;
                    text-align: left;
                    span{
                        font-weight: 600;
                    }
                }
            }
        }
    }
footer{
    div{
        p{
            font-size: 3vw;
        }
    }
}
}

@media (max-width: 410px) {
    main {
        .contenu-page {
            .section-contact{
                margin: 2% 0 0;
            }
        }
    }
}
