

main{
    flex:1;
    margin: 3% 4%;
    .filters{
        text-align: center;
        .skills-toggle{
            cursor: pointer;
        }
        .btn-tous{
            width: 100%;
            margin-bottom: 8px;
        }
        .filter-contenant{
            .btn-filter{
                margin: 0 5px 8px;
                min-width: 170px;
            }
        }
        p{
            line-height: 68px;
            &.hide{
                display: none;
            }
        }
    }
    .contenu-page{
        display: flex;
        align-items: flex-start;
        margin-top: 1%;
        margin-bottom: 3%;
    }
}
footer{
    margin-bottom: 1%;
    div{
        display: flex;
        justify-content: center;
        gap: 10px;
        color: #363537;
        font-style: italic;
        a{
            text-decoration: underline;
            &:hover{
                color:#C94A4A;
            }
        }
    }
}

@media (max-width: 1025px) {
    main{
        .contenu-page{
            margin-top: 4%;
            flex-wrap: wrap;
        }
    } 
}

@media (max-width:1000px){
    main{
        .filters{
            .filter-contenant{
                .btn-filter{
                    min-width: 150px;
                }}}}
}
@media (max-width: 756px){
    main{
        .filters{
            .container-toogle{
                color: #363537;
                &.toogle-open{
                    color: white;
                }
                cursor: pointer;
                .skills-toggle{
                    font-size: 6vw;
                    position: relative;
                    line-height: 1.5;
                    .toggle-text{
                        font-family: 'Just Me Again Down Here', 'Arial', sans-serif;
                        font-weight: bold;
                    }
                    .triangle{
                        position: absolute;
                        top: 1vw;
                    } 
                }  
                .explication-toggle{
                    line-height: 0;
                    &.open{
                        display: none;
                    }
                }
            }
            .filter-contenant{
                margin-bottom: 2vw;
                .btn-ligne{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap : 0.5vw;
                    .btn-filter{
                        min-width: 0;
                        margin: 0;
                    }
                }                
            }
        }
        .contenu-page{
            margin-top: 30px;
        }

    }
    footer{
        div{
            flex-direction: column;
            align-items: center;
            gap: 0px;
            .barre-separation-footer{
                display: none;
            }
        }
    }
}
@media (max-width: 600px){
    main{
        .filters{
            .container-toogle{
                .skills-toggle{
                    line-height: 11vw;
                    .triangle{
                        font-size: 11vw;
                        top : 1.5vw
                      } 
                }
            } 
        }
    }
}
@media (max-width: 550px){
footer{
    div{
        p{
            font-size: 3vw;
        }
    }
}
}
